src/test/resources/push-publisher-tests-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:PuSH-hub="http://www.mulesoft.org/schema/mule/PuSH-hub"
    xmlns:PuSH-pub="http://www.mulesoft.org/schema/mule/PuSH-publisher"
    xmlns:PuSH-sub="http://www.mulesoft.org/schema/mule/PuSH-subscriber"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:test="http://www.mulesoft.org/schema/mule/test"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/PuSH-hub http://www.mulesoft.org/schema/mule/PuSH-hub/current/mule-PuSH-hub.xsd
          http://www.mulesoft.org/schema/mule/PuSH-publisher http://www.mulesoft.org/schema/mule/PuSH-publisher/current/mule-PuSH-publisher.xsd
          http://www.mulesoft.org/schema/mule/PuSH-subscriber http://www.mulesoft.org/schema/mule/PuSH-subscriber/current/mule-PuSH-subscriber.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
          http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
          http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <PuSH-pub:config name="pub-config" hubUrl="http://localhost:${port1}/hub" />

    <flow name="publisherNotifier">
        <vm:inbound-endpoint path="notifyNewContent" />
        <PuSH-pub:notify-new-content topic="#[message.payload]" />
    </flow>

    <!-- Stubs -->
    <PuSH-sub:config name="sub-config" hubUrl="http://localhost:${port1}/hub"
        callbackUrl="http://localhost:${port2}/subscriber" topic="http://localhost:${port3}/feeds/mouth/rss" />

    <flow name="subscriber">
        <http:inbound-endpoint address="http://localhost:${port2}/subscriber"
            exchange-pattern="request-response" />
        <PuSH-sub:subscriber />
        <test:component />
    </flow>
    <spring:beans>
        <spring:bean id="hubObjectStore"
            class="org.mule.util.store.PartitionedInMemoryObjectStore" />
    </spring:beans>

    <PuSH-hub:config objectStore-ref="hubObjectStore" />

    <flow name="hub">
        <http:inbound-endpoint address="http://localhost:${port1}/hub" />
        <PuSH-hub:hub />
    </flow>
</mule>